<!DOCTYPE html>
<html>
  <head>
    <title>TakeHome</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="text-center pt-5 pb-4">
        <a class="navbar-brand main-logo" href="/"></a>
      </div>
    </header>
    <main class="container pt-1">
      <%= yield %>
    </main>
    <footer class="mt-2 pt-2 border-top">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Support</a>
        </li>
      </ul>
    </footer>
  </body>
</html>
